<h2>Edit profile</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path(resource), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <%= f.label :email, class: "col-sm-3 col-form-label" %><br />
    <div class="col-sm-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label "Default forwarding email", class: "col-sm-3 col-form-label" %><br />
    <div class="col-sm-9">
      <%= f.email_field :default_forward, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :domain, class: "col-sm-3 col-form-label" %><br />
    <div class="col-sm-9">
      <%= f.text_field :domain, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label "API", class: "col-sm-3 col-form-label" %><br />
    <div class="col-sm-9">
      <%= f.select :api, User.apis, { selected: resource.api_name }, { class: "custom-select" } %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label "API User", class: "col-sm-3 col-form-label" %><br />
    <div class="col-sm-9">
      <%= f.text_field :api_user, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label "API Key", class: "col-sm-3 col-form-label" %><br />
    <div class="col-sm-9">
      <%= f.text_field :api_key, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= button_tag type: "submit", class: "btn btn-primary" do %>
      <%= icon(:check) %> Update profile
    <% end %>
    <%= link_to test_api_path(format: :json), method: :post, class: "btn btn-outline-dark test-api-btn" do %>
      <span class="test-api-icon test-api-processing d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="test-api-icon test-api-success d-none" aria-hidden="true"><%= icon("check") %></span>
      <span class="test-api-icon test-api-failed d-none" aria-hidden="true"><%= icon("alert") %></span>
      <span class="test-api-icon test-api-untested btn-black" aria-hidden="true"><%= icon("question") %></span>
      Test API
    <% end %>
  </div>
<% end %>
<br>

<h3>Cancel my account</h3>

<p>If you don't want to use this service anymore, you can cancel your account.</p>
<%= button_to delete_user_registration_path(resource_name), method: :delete,
  data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
  <%= icon(:stop) %> Cancel my account
<% end %>
