<%= form_tag add_record_path(@zone_id), method: 'post' do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'col-form-label' %>
    <%= text_field_tag :name, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :type, nil, class: 'col-form-label' %>
    <%= select_tag :type, options_for_select(Gandi::TYPE::all), class: "custom-select" %>
  </div>
  <div class="form-group">
    <%= label_tag :value, nil, class: 'col-form-label' %>
    <%= text_area_tag :value, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :ttl, 'TTL', class: 'col-form-label' %>
    <%= text_field_tag :ttl, nil, placeholder: 3.hours, class: 'form-control' %>
  </div>
  <div class="form-group">
    <div class="actions">
      <button type="submit" class="btn btn-success btn-white">
        <%= icon(:check) %> Add record
      </button>
    </div>
  </div>
<% end %>
