<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>Records</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Value</th>
    <th>TTL</th>
    <th></th>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <td><%= record[:name] %></td>
      <td><%= record[:type] %></td>
      <td><%= record[:value] %></td>
      <td><%= record[:ttl] %></td>
      <td><%= link_to "Delete", delete_record_path(@zone_id, record[:id]), method: 'delete' %></td>
    </tr>
  <% end %>
</table>

<%= render 'record' %>
