<%= form_tag emails_path, method: 'post' do %>
  <div class="field">
    <%= label_tag :address %><br>
    <%= text_field_tag :address %>
  </div>
  <div class="field">
    <%= label_tag :destinations %><br>
    <%= select_tag :default_dest, options_for_select(@destinations, @destinations.first), prompt: "[no email]" %><br>
    <%= text_area_tag :destinations %>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-success">
      <%= glyph('ok') %> Add address
    </button>
  </div>
<% end %>
