<%= form_tag emails_path, method: 'post', class: "form-inline" do %>
  <%= label_tag :address, nil, class: "hidden-desktop hidden-phone hidden-tablet" %>
  <div class="input-append">
    <%= text_field_tag :address, nil, class: "form-control",
      placeholder: "Address" %>
    <span class="add-on">@<%= @domain %></span>
  </div>
  <%= label_tag :destinations, nil, class: "hidden-desktop hidden-phone hidden-tablet" %>
  <%= select_tag :destinations, options_for_select(@destinations, @destinations.first),
    class: "form-control combobox" %>
  <button type="submit" class="btn btn-primary">
    <%= glyph('ok') %> Create
  </button>
<% end %>
