<h1>Email forwards</h1>

<div class="col-12 email_create">
  <%= render 'form' %>
</div>

<div class="col-12 d-block d-lg-none">
  <%= render partial: "shared/bookmarklet" %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        Address
        <span class="d-inline d-sm-none"><br>Destinations</span>
      </th>
      <th class="d-none d-sm-table-cell">Destinations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td>
          <%= email.source %><span class="text-muted"><wbr>@<%= @email_domain %></span>
          <span class="d-inline d-sm-none"><%= email.destinations_string %></span>
        </td>
        <td class="d-none d-sm-table-cell"><%= email.destinations_string %></td>
        <td>
          <%= link_to icon_button('Delete', :x, height: 16), email_path(email.source),
            class: 'btn btn-danger btn-sm btn-white',
            method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Listed <b><%= @emails.size %></b> emails.</p>

<p><a href="?all=1">List all emails</a></p>

