<h1>Email forwards</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Address</th>
      <th>Destinations</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email[:source] %><span class="muted">@<%= @domain %></span></td>
        <td><%= email[:destinations].join(', ') %></td>
        <td>
          <%= link_to icon_button('Delete', 'remove'), email_path(email[:source]),
            class: "btn btn-danger btn-mini",
            method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="well span4">
  <h3>Add forwarding</h3>
  <%= render 'form' %>
</div>
