<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Spicyham' %></title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag asset_pack_path('media/images/apple-touch-icon-144x144-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag asset_pack_path('media/images/apple-touch-icon-114x114-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag asset_pack_path('media/images/apple-touch-icon-72x72-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag asset_pack_path('media/images/apple-touch-icon-precomposed.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico'), :rel => 'shortcut icon' %>

    <link rel="stylesheet"  media="all" href="/bootstrap-combobox.css">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <script src="/bootstrap-combobox.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-md" role="navigation">
      <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span> &#x2630;
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Spicyham</a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            <%= render partial: 'layouts/links', locals: { item_class: 'nav-link' } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-content container-fluid">
      <div class="row">

        <div class="col-lg-3 sidebar-nav d-none d-lg-block">
          <% if user_signed_in? %>
          <ul class="list-group">
            <li class="list-group-item">Menu</li>
            <%= render partial: 'layouts/links', locals: { item_class: 'list-group-item' } %>
          </ul>

          <br>
          <%= render partial: "shared/bookmarklet" %>
          <% end %>
        </div>

        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

      </div><!--/row-->

      <footer>
        <p>
          <small>
            &copy; <a href="http://github.com/ollej">Olle Wreede</a> 2013-2022
          </small>
        </p>
      </footer>

    </div> <!-- /container -->

    <a href="http://utopianrealms.org/dextral.php?pg=8792"><!-- gala --></a>
  </body>
</html>
